terraform.auto.tfvars
terraform.tfstate*
.terraform/
.neo4j_password.txt
/modules/neo4j/rendered/
/licenses/
.api_token.txt
/modules/api/venv/
/modules/api/build/
/modules/api/ui/node_modules/
/modules/api/ui/dist/
